body
{
    padding: 0;
    margin: 0;
    background-color: #3A6333;
}

.flex-height
{
    min-height: 100%;
}

md-content
{
    background-color: #3A6333;
}

.color-white
{
    color: white;
}

/*canvas*/
/*{*/
    /*background: black;*/
/*}*/

.card-rise:hover
{
    margin-top : -20px;
}